<!--
    Student Name: Ho Wun Mok
    Student No.: 301237442
    Date:   October 26, 2022
    Filename: update.ejs
-->

<%- include ../partials/header.ejs %>

<%- include ../partials/content.ejs %>

<!--Content for the Update page-->
<main>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2><%= title %></h2>
                <br>
                <form class="form" method="POST">
                    <div class="form-group">
                        <label for="nameTextField">Contact Name</label>
                        <input type="text" class="form-control"
                        id="nameTextField"
                        placeholder="Enter the Contact Name"
                        value="<%= busContact.contactname %>"
                        name="name">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="noTextField">Contact Number</label>
                        <input type="text" class="form-control"
                        id="noTextField"
                        placeholder="Enter the Contact Number"
                        value="<%= busContact.contactno %>"
                        name="number">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="emailTextField">Email Address</label>
                        <input type="text" class="form-control"
                        id="emailTextField"
                        placeholder="Enter the Email Address"
                        value="<%= busContact.email %>"
                        name="email">
                    </div>
                    <br>
                    <button class="btn btn-outline-info" type="submit">
                    <i class="fas fa-edit"></i> Submit</button>

                    <a href="/business-contact" class="btn btn-outline-warning">
                    <span class="yellowBtn"><i class="fas fa-undo"></i> Cancel</span></a>

                    <a href="/business-contact/delete/<%= busContact._id %>" class="btn btn-outline-danger">
                    <span class="redBtn"><i class="fas fa-trash-alt"></i> Delete</span></a>
                </form>
            </div>
        </div>
    </div>
</main>

<%- include ../partials/right_contact.ejs %>
  
<%- include ../partials/footer.ejs %>


